游댌 PACE Framework + Python para An치lisis de Datos

游늷 1. Plan (Planificar)

Objetivo del Proyecto:

An치lisis de ventas de una tienda en l칤nea: Vas a realizar un an치lisis exploratorio de datos (EDA) sobre las ventas de una tienda en l칤nea. El conjunto de datos incluir치 informaci칩n sobre productos, ventas, fechas, precios, categor칤as y dem치s variables 칰tiles para el an치lisis.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

游늵 2. Analyze (Analizar) - Exploratory Data Analysis (EDA)

In [ ]:
# Cargar y explorar los datos
df_sales = pd.read_csv('./csv/sales.csv')
df_sales.head()

,OrderID,ProductID,ProductCategory,QuantitySold,UnitPrice,TotalSale,OrderDate,CustomerRegion
0,1,P004,Deportes,5,70.08,350.40,2024-01-01,Este
1,2,P005,Deportes,4,121.78,487.12,2024-01-02,Norte
2,3,P003,Electr칩nica,3,139.77,419.31,2024-01-03,Este
3,4,P005,Deportes,3,95.87,287.61,2024-01-04,Oeste
4,5,P005,Hogar,4,145.62,582.48,2024-01-05,Sur

In [4]:
df_sales.describe()

          OrderID  QuantitySold   UnitPrice    TotalSale
count  300.000000     300.00000  300.000000   300.000000
mean   150.500000       4.82000  108.671900   527.881300
std     86.746758       2.57482   51.920397   408.109811
min      1.000000       1.00000   10.440000    18.390000
25%     75.750000       3.00000   69.177500   184.350000
50%    150.500000       5.00000  111.300000   422.495000
75%    225.250000       7.00000  151.447500   751.565000
max    300.000000       9.00000  199.880000  1796.040000

In [3]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          300 non-null    int64
 1   ProductID        300 non-null    object
 2   ProductCategory  300 non-null    object
 3   QuantitySold     300 non-null    int64
 4   UnitPrice        300 non-null    float64
 5   TotalSale        300 non-null    float64
 6   OrderDate        300 non-null    object
 7   CustomerRegion   300 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 18.9+ KB

In [7]:
#verificar valores nulos
df_sales.isna() .sum()

OrderID            0
ProductID          0
ProductCategory    0
QuantitySold       0
UnitPrice          0
TotalSale          0
OrderDate          0
CustomerRegion     0
dtype: int64

In [8]:
# Verifiar valores duplicados
df_sales.duplicated().sum()

0

In [6]:
# Transformamos la calumna fecha a formato fecha
df_sales['OrderDate'] = pd.to_datetime(df_sales['OrderDate'])
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          300 non-null    int64
 1   ProductID        300 non-null    object
 2   ProductCategory  300 non-null    object
 3   QuantitySold     300 non-null    int64
 4   UnitPrice        300 non-null    float64
 5   TotalSale        300 non-null    float64
 6   OrderDate        300 non-null    datetime64[ns]
 7   CustomerRegion   300 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 18.9+ KB