In [1]:
# Re-generar el conjunto de datos después del reinicio del entorno

import pandas as pd
import numpy as np

# Fijar una semilla para reproducibilidad
np.random.seed(42)

# Generar datos ficticios para el conjunto de datos
order_ids = np.arange(1, 301)
product_ids = np.random.choice(['P001', 'P002', 'P003', 'P004', 'P005'], size=300)
product_categories = np.random.choice(['Electrónica', 'Ropa', 'Hogar', 'Alimentos', 'Deportes'], size=300)
quantity_sold = np.random.randint(1, 10, size=300)
unit_price = np.random.uniform(10, 200, size=300).round(2)
total_sale = quantity_sold * unit_price
order_dates = pd.date_range('2024-01-01', periods=300, freq='D')
customer_regions = np.random.choice(['Norte', 'Sur', 'Este', 'Oeste'], size=300)

# Crear el DataFrame
data = {
    'OrderID': order_ids,
    'ProductID': product_ids,
    'ProductCategory': product_categories,
    'QuantitySold': quantity_sold,
    'UnitPrice': unit_price,
    'TotalSale': total_sale,
    'OrderDate': order_dates,
    'CustomerRegion': customer_regions
}

df_sales = pd.DataFrame(data)
df_sales.to_csv('./csv/sales.csv',index=False)
# Mostrar las primeras filas
df_sales.head()

,OrderID,ProductID,ProductCategory,QuantitySold,UnitPrice,TotalSale,OrderDate,CustomerRegion
0,1,P004,Deportes,5,70.08,350.40,2024-01-01,Este
1,2,P005,Deportes,4,121.78,487.12,2024-01-02,Norte
2,3,P003,Electrónica,3,139.77,419.31,2024-01-03,Este
3,4,P005,Deportes,3,95.87,287.61,2024-01-04,Oeste
4,5,P005,Hogar,4,145.62,582.48,2024-01-05,Sur